@import '~styles/Variables';

.modalContent2 {

    .image-wrapper {
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

        img {
            width: 400px;
            margin-left: 100%;
            margin-right: 100%;
        }
    }

    h1 {
        margin-bottom: 25px;
        padding-left: 10px;
    }


    p {
        margin-bottom: 25px;
        padding-left: 10px;
    }

    .buttons-wrapper {
        margin-top: $spacing8;
        display: grid;
        grid-auto-flow: column;
        gap: $spacing2;
        justify-content: center;
    }
}